version: "3.9"

services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: saas-tour-backend
    env_file:
      - ../backend/.env
    ports:
      - "3001:3000"
    networks:
      - internal
      - global_databases_network
    restart: unless-stopped

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: saas-tour-frontend
    depends_on:
      - backend
    ports:
      - "8080:80"
    networks:
      - internal
    restart: unless-stopped

networks:
  global_databases_network:
    external: true
  internal:
    name: saas_tour_local
